[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "casebase"]
	path = casebase
	url = https://github.com/sahirbhatnagar/casebase
[submodule "eclust"]
	path = eclust
	url = https://github.com/sahirbhatnagar/eclust
[submodule "ggmix"]
	path = ggmix
	url = https://github.com/sahirbhatnagar/ggmix
[submodule "manhattanly"]
	path = manhattanly
	url = https://github.com/sahirbhatnagar/manhattanly
